<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>eObieg - Panel Użytkownika</title>
</head>

<body>
  <tytul>eObieg</tytul>

<tablenav>
  <tbody>
      <tr>
        <form action="/wylogowanie" method="POST">
          <button type="submit" style="font-weight: bolder;">Wyloguj użytkownika</button>
        </form>     
      </tr> 
      <tr><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></tr>
    </tbody>
</tablenav>

  <srodek>

        <table>
          <h2>Twoje materiały</h2>
            <tbody>
            <tr>
                  <td>Pliki<button><a href="/users/filelist">Wyświetl</a></button></td>
                    <td>Dokumenty<button><a href="/users/doclists">Wyświetl</a></button></td>
                      <td>Użytkownicy<button><a href="/users/userlist">Wyświetl</a></button></td>
                        <td>Sprawy<button><a href="/users/caselist">Wyświetl</a></button></td>                  
            </tr>  
          </tbody>
        </table>

        <table>
          <h3>Twoje dane</h3>
          <thead>
            <tr>
              <th>ID</th>
              <th>Imię i nazwisko</th>
              <th>Data email</th>
              <th>Uprawnienia</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= users.id %></td> 
                <td><%= users.name %> <%= users.surname %></td>
                <td><%= users.email %></td>
                <td><%= users.class %></td> 
                <td><img src="/images/user.png" alt="Logo" style="height: 50px; width: 50px;"></td>               
              </tr> 
               
          </tbody>
        </table>
        


        <ul style="margin-top: 30px;">
          <% if(messages.success_msg) { %> 
            <li><%= messages.success_msg %></li> 
          <% } else if (messages.error_msg) { %>
            <li><%= messages.error_msg %></li> 
          <% } %> 
        </ul>

  </srodek>
</body>
</html>