<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/master.css">
  <title>eObieg - Dokument <%= document.title %></title>
</head>

<body>
  <tytul>eObieg - Dokument <%= document.title %></tytul>
  <srodek>

    <p>ID: <%= document.document_id %></p>
    <p>Tytuł: <%= document.document_title %></p>
    <p>Przesłał: <%= document.user_id %></p>
    <p>Notatka: <%= document.note %></p>
    <p>Data dodania: <%= document.date %></p>
    <p>Plik: <%= document.file_id %></p>

  </srodek>
</body>
</html>
