<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/master.css">
  <title>eObieg - Lista spraw</title>
</head>

<body>
  <tytul>eObieg <span style="font-family: 'Times New Roman', Times, serif; font-style: italic; color: darkmagenta; font-weight: lighter;">alfa</span></tytul>

  <tablenav>
    <tbody>
      <tr>
        <form action="/wylogowanie" method="POST">
          <button type="submit" style="font-weight: bolder;">Wyloguj użytkownika</button>
        </form>    
        <td></td>
        <a href="/users/caseform">Dodaj nową sprawę</a>
        <a href="/users/userPanel">Panel użytkownika</a>  
      </tr> 
      <tr>
        <td colspan="4"><img src="/images/logo.png" alt="Logo" style="height: 50px; width: 50px;"></td>
      </tr>
    </tbody>
  </tablenav>

  <srodek>

  <table>
    <h3>Twoje sprawy</h3>
    <thead>
      <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>Udostepnianie</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < cases.length; i++) { %>
        <tr>
          <td><%= cases[i].id_case %></td>
          <td><%= cases[i].title_case %></td>

          <td>
            <a href="/users/share/caseshareGROUP/<%= cases[i].id_case %>"><button style="color: white;">Grupie</button></a>
            <a href="/users/share/caseshareUSER/<%= cases[i].id_case %>"><button style="color: white;">Użytkownikowi</button></a>
          </td>

          <td>
            <a href="/users/docselect/<%= cases[i].id_case %>"><button style="color: white;">Załącz dokument</button></a>
          <a href="/users/caseView/<%= cases[i].id_case %>"><button style="color: white;">Podgląd</button></a>
        </td>

        </tr>
      <% } %>
    </tbody>
  </table>



  <h3>Lista udostępnionych spraw tobie przez użytkowników</h3>
<table>
  <thead>
    <tr>
      <th>ID sprawy</th>
      <th>Tytuł sprawy</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>

    <% sharedCasesUSR.forEach(sharedCasesUSR => { %>
      <tr>
        <td><%= sharedCasesUSR.id_case_casusr %></td>
        <td><%= sharedCasesUSR.title_case %></td>
        <td>
          <a href="/users/docselect/<%= sharedCasesUSR.id_case_casusr %>"><button style="color: white;">Załącz dokument</button></a>
        <a href="/users/caseView/<%= sharedCasesUSR.id_case_casusr %>"><button style="color: white;">Podgląd</button></a>
      </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<h3>Lista udostępnionych spraw tobie po przez twoje grupy</h3>
<table>
  <thead>
    <tr>
      <th>ID sprawy</th>
      <th>Tytuł sprawy</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>

    <% sharedCasesGROUP.forEach(sharedCasesGROUP => { %>
      <tr>
        <td><%= sharedCasesGROUP.id_case_casgrup %></td>
        <td><%= sharedCasesGROUP.title_case %></td>
        <td>
          <a href="/users/docselect/<%= sharedCasesGROUP.id_case_casgrup %>"><button style="color: white;">Załącz dokument</button></a>
        <a href="/users/caseView/<%= sharedCasesGROUP.id_case_casgrup %>"><button style="color: white;">Podgląd</button></a>
      </td>
      </tr>
    <% }); %>
  </tbody>
</table>

</srodek>
</body>
</html>